@use "../../styles/variables" as vars;

.profileHeader {
    display: flex;
    align-items: center;
    gap: 2rem;
  .avatarContainer {
    width: 300px;
    height: 300px;
    display: flex;
    border-radius: 50%;
    img {
      object-fit: cover;
      border-radius: 50%;
      width: 300px;
      height: 300px;
      border: 1px solid vars.$borderColor;
    }
  }
}
