@use "../../styles/variables" as vars;

.badgeDisplay {
  color: vars.$secondaryTextColor;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  .unlocked,
  .locked {
    border-bottom: 1px solid vars.$borderColor;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    .imgContainer {
      border: 1px solid vars.$borderColor;
      width: 40px;
      height: 40px;
      border-radius: 4px;
      background-color: vars.$secondaryBgColor;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      img {
        max-width: 40px;
        max-height: 40px;
      }
    }
    .badgeText {
      display: flex;
      flex-direction: column;
      color: vars.$white;
      width: 100%;
      .badgeName {
        display: flex;
        align-items: center;
        justify-content: space-between;

        small {
          color: vars.$secondaryTextColor;
          font-size: 10px;
        }
      }
      .description {
        color: vars.$secondaryTextColor;
        font-style: italic;
        font-size: 12px;
      }
    }
  }
}
