@use "../../styles/variables" as vars;

.layoutShell {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  max-width: 80rem;
  margin: 0 auto;
  .mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    .pageContent {
      flex: 1;
      overflow-y: auto;
      border-right: 1px solid vars.$borderColor;
      border-left: 1px solid vars.$borderColor;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: vars.$secondaryBgColor;
      }

      &::-webkit-scrollbar-thumb {
        background-color: vars.$secondaryTextColor;
        border-radius: 4px;
        border: 2px solid transparent;
        background-clip: content-box;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #666;
      }
    }
  }
}
