@use "../../styles/variables" as vars;

.pageHeader {
  border-bottom: 1px solid vars.$borderColor;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: vars.$bgColor;
  padding: 0 2rem;
  color: vars.$secondaryTextColor;
  position: sticky;
  top: 0;
  z-index: 99;
  .title {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      font-size: 12px;
    }
    .page {
      color: vars.$white;
    }
  }

  .controls {
    margin-left: auto;
    display: flex;
    align-items: center;
    svg {
      cursor: pointer;
    }
  }
}
