@use '../../../styles/variables' as vars;

.notificationWidget {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 10px;
  margin-bottom: 1rem;
  font-size: 12px;
  .label {
    height: 60px;
    display: flex;
    align-items: center;
    color: vars.$secondaryTextColor;
  }
   .notification {
      text-decoration: none;
      color: vars.$white;
      // padding-left: 1rem;
      position: relative;
      top: -10px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      span {
        font-size: 10px;
    color: vars.$secondaryTextColor;
      }
    }
}
